/*GLOBAL RESET  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;

}

html{

  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/*  DOTTED BACKGROUND  */
.dotted-bg {
  background-color: #f8f8f8;
  background-image:
  radial-gradient(#cfd2d4 1.5px, transparent 1.5px),
  linear-gradient(#e5e7eb 0.5px, transparent 0.5px),
  linear-gradient(90deg, #e5e7eb 0.5px, transparent 0.5px);
  background-size:
    36px 36px, 
    6px 6px,
    6px 6px;
  background-position:
    0 0,
    0 0,
    0 0;
}